In [46]:
# COMBINING 2 EXCEL FILES AND 1 CSV FILE
# df1 = ORDER HISTORICAL

import pandas as pd
orderhistorical=pd.read_excel('Order Historical Data.xlsx')

In [47]:
orderhistorical.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838

In [64]:
orderhistorical.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
1927,26104,Medium,0.06,7.10,6.05,3369,Stacy Byrne,Regular Air,Home Office,Office Supplies,...,East,Ohio,Westerville,43081,2015-02-12,2015-02-13,-42.17050,4,29.99,90500
1928,18311,Medium,0.01,179.29,29.21,3374,Jamie Ward,Delivery Truck,Corporate,Furniture,...,East,Maryland,Odenton,21113,2015-06-02,2015-06-04,66.36222,8,1487.90,87473
1929,18320,High,0.05,73.98,12.14,3374,Jamie Ward,Regular Air,Home Office,Technology,...,East,Maryland,Odenton,21113,2015-06-29,2015-06-30,-1.90400,8,600.40,87474
1930,18321,High,0.00,5.98,7.15,3374,Jamie Ward,Regular Air,Home Office,Office Supplies,...,East,Maryland,Odenton,21113,2015-06-29,2015-07-01,-37.04800,5,34.25,87474
1931,18322,High,0.09,3.57,4.17,3374,Jamie Ward,Regular Air,Home Office,Office Supplies,...,East,Maryland,Odenton,21113,2015-06-29,2015-07-01,-56.88800,9,31.45,87474

In [48]:
orderhistorical.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,1932.000000,1932.000000,1932.000000,1932.000000,1932.000000,1918.000000,1932.000000,1932.000000,1932.000000,1932.000000,1932.000000
mean,19890.543996,0.048996,108.903866,13.000399,1718.263975,0.515115,51531.935818,109.550154,12.949275,983.891408,82303.445652
std,5978.467577,0.031337,394.505274,17.478981,981.739445,0.137146,29412.014705,1135.264547,13.921044,2562.841316,19130.561717
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1001.000000,-16476.838000,1.000000,2.250000,359.000000
25%,19111.750000,0.020000,6.480000,3.230000,868.000000,0.380000,28292.250000,-85.266500,5.000000,58.677500,86752.750000
50%,21146.500000,0.050000,20.990000,6.150000,1731.500000,0.520000,48823.000000,1.300200,10.000000,202.030000,88369.500000
75%,23483.250000,0.070000,100.970000,14.362500,2555.000000,0.590000,78556.750000,114.457875,16.000000,802.945000,89972.750000
max,26389.000000,0.210000,6783.020000,164.730000,3374.000000,0.850000,99362.000000,9228.225600,167.000000,45737.330000,91586.000000

In [49]:
orderhistorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1932 entries, 0 to 1931
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1932 non-null   int64
 1   Order Priority        1932 non-null   object
 2   Discount              1932 non-null   float64
 3   Unit Price            1932 non-null   float64
 4   Shipping Cost         1932 non-null   float64
 5   Customer ID           1932 non-null   int64
 6   Customer Name         1932 non-null   object
 7   Ship Mode             1932 non-null   object
 8   Customer Segment      1932 non-null   object
 9   Product Category      1932 non-null   object
 10  Product Sub-Category  1932 non-null   object
 11  Product Container     1932 non-null   object
 12  Product Name          1932 non-null   object
 13  Product Base Margin   1918 non-null   float64
 14  Country               1932 non-null   object
 15  Region                1932 non-null   object
 16  State or Province     1932 non-null   object
 17  City                  1932 non-null   object
 18  Postal Code           1932 non-null   int64
 19  Order Date            1932 non-null   datetime64[ns]
 20  Ship Date             1932 non-null   datetime64[ns]
 21  Profit                1932 non-null   float64
 22  Quantity ordered new  1932 non-null   int64
 23  Sales                 1932 non-null   float64
 24  Order ID              1932 non-null   int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 377.5+ KB

In [50]:
print(orderhistorical)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      21776       Critical      0.06        9.48           7.29           11
3      24844         Medium      0.09       78.69          19.99           14
4      24846         Medium      0.08        3.28           2.31           14
...      ...            ...       ...         ...            ...          ...
1927   26104         Medium      0.06        7.10           6.05         3369
1928   18311         Medium      0.01      179.29          29.21         3374
1929   18320           High      0.05       73.98          12.14         3374
1930   18321           High      0.00        5.98           7.15         3374
1931   18322           High      0.09        3.57           4.17         3374

          Customer Name       Ship Mode Customer Segment Product Category  \
0         Bonnie Potter     Express Air        Corporate  Office Supplies
1        Ronnie Proctor  Delivery Truck      Home Office        Furniture
2         Marcus Dunlap     Regular Air      Home Office        Furniture
3     Gwendolyn F Tyson     Regular Air   Small Business        Furniture
4     Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies
...                 ...             ...              ...              ...
1927        Stacy Byrne     Regular Air      Home Office  Office Supplies
1928         Jamie Ward  Delivery Truck        Corporate        Furniture
1929         Jamie Ward     Regular Air      Home Office       Technology
1930         Jamie Ward     Regular Air      Home Office  Office Supplies
1931         Jamie Ward     Regular Air      Home Office  Office Supplies

      ...   Region State or Province         City  Postal Code Order Date  \
0     ...     West        Washington    Anacortes        98221 2015-01-07
1     ...     West        California  San Gabriel        91776 2015-06-13
2     ...     East        New Jersey      Roselle         7203 2015-02-15
3     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
4     ...  Central         Minnesota   Prior Lake        55372 2015-05-12
...   ...      ...               ...          ...          ...        ...
1927  ...     East              Ohio  Westerville        43081 2015-02-12
1928  ...     East          Maryland      Odenton        21113 2015-06-02
1929  ...     East          Maryland      Odenton        21113 2015-06-29
1930  ...     East          Maryland      Odenton        21113 2015-06-29
1931  ...     East          Maryland      Odenton        21113 2015-06-29

      Ship Date      Profit Quantity ordered new    Sales Order ID
0    2015-01-08     4.56000                    4    13.01    88522
1    2015-06-15  4390.36650                   12  6362.85    90193
2    2015-02-17   -53.80960                   22   211.15    90192
3    2015-05-14   803.47050                   16  1164.45    86838
4    2015-05-13   -24.03000                    7    22.23    86838
...         ...         ...                  ...      ...      ...
1927 2015-02-13   -42.17050                    4    29.99    90500
1928 2015-06-04    66.36222                    8  1487.90    87473
1929 2015-06-30    -1.90400                    8   600.40    87474
1930 2015-07-01   -37.04800                    5    34.25    87474
1931 2015-07-01   -56.88800                    9    31.45    87474

[1932 rows x 25 columns]

In [51]:
# DF2 = ORDER WEEK
orderweek=pd.read_excel('Order Week.xlsx')

In [52]:
orderweek.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,22378,Critical,0.00,19.98,5.97,3379,Annette McIntyre,Express Air,Corporate,Office Supplies,...,South,Georgia,Kennesaw,30144,2015-03-26,2015-03-29,-189.7140,12,249.07,88837
1,20366,Critical,0.05,3.14,1.92,3379,Annette McIntyre,Express Air,Home Office,Office Supplies,...,South,Georgia,Kennesaw,30144,2015-04-25,2015-04-26,1628.3700,18,59.22,88839
2,23181,Critical,0.03,315.98,19.99,3380,Eva Decker,Regular Air,Home Office,Office Supplies,...,South,Georgia,La Grange,30240,2015-04-20,2015-04-22,-4.4800,18,5572.18,88838
3,23182,Critical,0.09,276.20,24.49,3380,Eva Decker,Regular Air,Home Office,Furniture,...,South,Georgia,La Grange,30240,2015-04-20,2015-04-21,3193.2840,11,2941.42,88838
4,23183,Critical,0.03,63.94,14.48,3380,Eva Decker,Regular Air,Home Office,Furniture,...,South,Georgia,La Grange,30240,2015-04-20,2015-04-21,43.6917,8,522.46,88838

In [65]:
orderweek.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
15,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.7600,18,207.31,87536
16,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.9520,22,143.12,87536
17,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.8700,5,59.98,87534
18,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,2015-04-04,2015-04-04,-24.7104,15,135.78,87537
19,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2015-02-08,2015-02-11,349.4850,5,506.50,87530

In [53]:
orderweek.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,20.000000,20.000000,20.000000,20.000000,20.000000,18.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,22421.850000,0.047000,126.018500,9.853000,3388.450000,0.522778,51808.500000,621.335681,12.500000,1172.984000,88401.350000
std,2316.460373,0.035997,284.019401,8.983707,8.133589,0.130420,24772.268692,1565.469339,7.910686,2308.566353,720.849884
min,18640.000000,0.000000,2.610000,0.500000,3379.000000,0.350000,26554.000000,-189.714000,2.000000,15.700000,87530.000000
25%,20235.250000,0.017500,9.032500,4.322500,3380.750000,0.382500,30240.000000,-22.685100,6.750000,75.145000,87536.750000
50%,22779.500000,0.040000,22.680000,6.715000,3386.000000,0.570000,43957.000000,31.623150,10.500000,377.785000,88745.500000
75%,23433.500000,0.080000,110.982500,14.112500,3397.000000,0.597500,61832.000000,355.770000,18.000000,748.095000,88838.000000
max,26208.000000,0.100000,1270.990000,35.000000,3403.000000,0.840000,99163.000000,6384.438900,35.000000,9252.810000,90154.000000

In [54]:
orderweek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                20 non-null     int64
 1   Order Priority        20 non-null     object
 2   Discount              20 non-null     float64
 3   Unit Price            20 non-null     float64
 4   Shipping Cost         20 non-null     float64
 5   Customer ID           20 non-null     int64
 6   Customer Name         20 non-null     object
 7   Ship Mode             20 non-null     object
 8   Customer Segment      20 non-null     object
 9   Product Category      20 non-null     object
 10  Product Sub-Category  20 non-null     object
 11  Product Container     20 non-null     object
 12  Product Name          20 non-null     object
 13  Product Base Margin   18 non-null     float64
 14  Country               20 non-null     object
 15  Region                20 non-null     object
 16  State or Province     20 non-null     object
 17  City                  20 non-null     object
 18  Postal Code           20 non-null     int64
 19  Order Date            20 non-null     datetime64[ns]
 20  Ship Date             20 non-null     datetime64[ns]
 21  Profit                20 non-null     float64
 22  Quantity ordered new  20 non-null     int64
 23  Sales                 20 non-null     float64
 24  Order ID              20 non-null     int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(12)
memory usage: 4.0+ KB

In [55]:
print(orderweek)

    Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0    22378       Critical      0.00       19.98           5.97         3379
1    20366       Critical      0.05        3.14           1.92         3379
2    23181       Critical      0.03      315.98          19.99         3380
3    23182       Critical      0.09      276.20          24.49         3380
4    23183       Critical      0.03       63.94          14.48         3380
5    24161  Not Specified      0.05       11.97           5.81         3381
6    25841         Medium      0.02       28.53           1.49         3381
7    22341            Low      0.04        2.98           2.03         3385
8    22342            Low      0.01      125.99           8.99         3385
9    23190       Critical      0.00        2.61           0.50         3386
10   23191       Critical      0.04       25.38           8.99         3386
11   19464  Not Specified      0.03       95.99          35.00         3388
12   18640         Medium      0.08      125.99           7.69         3393
13   19635       Critical      0.08        4.48           2.50         3393
14   20624            Low      0.00     1270.99          19.99         3397
15   19842           High      0.01       10.90           7.46         3397
16   19843           High      0.10        7.99           5.03         3397
17   26208  Not Specified      0.08       11.97           5.81         3399
18   24911         Medium      0.10        9.38           4.93         3400
19   25914           High      0.10      105.98          13.99         3403

                   Customer Name    Ship Mode Customer Segment  \
0               Annette McIntyre  Express Air        Corporate
1               Annette McIntyre  Express Air      Home Office
2                     Eva Decker  Regular Air      Home Office
3                     Eva Decker  Regular Air      Home Office
4                     Eva Decker  Regular Air      Home Office
5   Christopher Norton Patterson  Regular Air        Corporate
6   Christopher Norton Patterson  Regular Air      Home Office
7                Daniel Richmond  Express Air        Corporate
8                Daniel Richmond  Regular Air        Corporate
9                  Carmen Elmore  Regular Air        Corporate
10                 Carmen Elmore  Express Air        Corporate
11                 Aaron Shaffer  Regular Air        Corporate
12                  Irene Murphy  Regular Air         Consumer
13                  Irene Murphy  Regular Air         Consumer
14                   Andrea Shaw  Regular Air   Small Business
15                   Andrea Shaw  Regular Air   Small Business
16                   Andrea Shaw  Regular Air   Small Business
17                   Marvin Reid  Regular Air   Small Business
18                 Florence Gold  Express Air   Small Business
19                 Tammy Buckley  Express Air         Consumer

   Product Category  ...   Region State or Province           City  \
0   Office Supplies  ...    South           Georgia       Kennesaw
1   Office Supplies  ...    South           Georgia       Kennesaw
2   Office Supplies  ...    South           Georgia      La Grange
3         Furniture  ...    South           Georgia      La Grange
4         Furniture  ...    South           Georgia      La Grange
5   Office Supplies  ...    South           Georgia          Macon
6   Office Supplies  ...    South           Georgia          Macon
7   Office Supplies  ...     East              Ohio       Boardman
8        Technology  ...     East              Ohio       Boardman
9   Office Supplies  ...     East              Ohio  Bowling Green
10        Furniture  ...     East              Ohio  Bowling Green
11  Office Supplies  ...     West        California      Fairfield
12       Technology  ...     West        Washington        Pullman
13  Office Supplies  ...     West        Washington        Pullman
14  Office Supplies  ...  Central          Illinois       Danville
15  Office Supplies  ...  Central          Illinois       Danville
16       Technology  ...  Central          Illinois       Danville
17  Office Supplies  ...  Central          Illinois    Des Plaines
18        Furniture  ...     East     West Virginia       Fairmont
19        Furniture  ...     West           Wyoming       Cheyenne

    Postal Code Order Date  Ship Date      Profit Quantity ordered new  \
0         30144 2015-03-26 2015-03-29  -189.71400                   12
1         30144 2015-04-25 2015-04-26  1628.37000                   18
2         30240 2015-04-20 2015-04-22    -4.48000                   18
3         30240 2015-04-20 2015-04-21  3193.28400                   11
4         30240 2015-04-20 2015-04-21    43.69170                    8
5         31204 2015-03-23 2015-03-25   349.05930                    2
6         31204 2015-04-29 2015-04-29     1.99200                   18
7         44512 2015-01-16 2015-01-16   -22.01000                    5
8         44512 2015-01-16 2015-01-21   426.46032                    6
9         43402 2015-05-03 2015-05-05    19.55460                   10
10        43402 2015-05-03 2015-05-06   152.48200                   35
11        94533 2015-05-11 2015-05-12    67.01200                    9
12        99163 2015-04-29 2015-04-30   374.62500                    7
13        99163 2015-02-14 2015-02-15    -3.24480                   19
14        61832 2015-06-07 2015-06-09  6384.43890                    7
15        61832 2015-03-11 2015-03-12  -116.76000                   18
16        61832 2015-03-11 2015-03-12  -160.95200                   22
17        60016 2015-03-29 2015-03-31   -41.87000                    5
18        26554 2015-04-04 2015-04-04   -24.71040                   15
19        82001 2015-02-08 2015-02-11   349.48500                    5

      Sales Order ID
0    249.07    88837
1     59.22    88839
2   5572.18    88838
3   2941.42    88838
4    522.46    88838
5     25.31    88836
6    513.33    88840
7     15.70    88745
8    680.65    88745
9     28.34    88746
10   861.30    88746
11   894.64    90154
12   710.36    87908
13    80.20    87909
14  9252.81    87535
15   207.31    87536
16   143.12    87536
17    59.98    87534
18   135.78    87537
19   506.50    87530

[20 rows x 25 columns]

In [56]:
# DF3 = USER
user=pd.read_csv('User.csv')

In [57]:
user.head()

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [58]:
user.describe()

         Region Manager
count         4       4
unique        4       4
top     Central   Chris
freq          1       1

In [59]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   4 non-null      object
 1   Manager  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes

In [60]:
print(user)

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [69]:
df1=pd.concat([orderhistorical,orderweek])

In [70]:
print(df1)

    Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0    20847           High      0.01        2.84           0.93            3
1    20228  Not Specified      0.02      500.98          26.00            5
2    21776       Critical      0.06        9.48           7.29           11
3    24844         Medium      0.09       78.69          19.99           14
4    24846         Medium      0.08        3.28           2.31           14
..     ...            ...       ...         ...            ...          ...
15   19842           High      0.01       10.90           7.46         3397
16   19843           High      0.10        7.99           5.03         3397
17   26208  Not Specified      0.08       11.97           5.81         3399
18   24911         Medium      0.10        9.38           4.93         3400
19   25914           High      0.10      105.98          13.99         3403

        Customer Name       Ship Mode Customer Segment Product Category  ...  \
0       Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1      Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2       Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3   Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4   Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
..                ...             ...              ...              ...  ...
15        Andrea Shaw     Regular Air   Small Business  Office Supplies  ...
16        Andrea Shaw     Regular Air   Small Business       Technology  ...
17        Marvin Reid     Regular Air   Small Business  Office Supplies  ...
18      Florence Gold     Express Air   Small Business        Furniture  ...
19      Tammy Buckley     Express Air         Consumer        Furniture  ...

     Region State or Province         City  Postal Code Order Date  Ship Date  \
0      West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1      West        California  San Gabriel        91776 2015-06-13 2015-06-15
2      East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3   Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4   Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13
..      ...               ...          ...          ...        ...        ...
15  Central          Illinois     Danville        61832 2015-03-11 2015-03-12
16  Central          Illinois     Danville        61832 2015-03-11 2015-03-12
17  Central          Illinois  Des Plaines        60016 2015-03-29 2015-03-31
18     East     West Virginia     Fairmont        26554 2015-04-04 2015-04-04
19     West           Wyoming     Cheyenne        82001 2015-02-08 2015-02-11

       Profit Quantity ordered new    Sales Order ID
0      4.5600                    4    13.01    88522
1   4390.3665                   12  6362.85    90193
2    -53.8096                   22   211.15    90192
3    803.4705                   16  1164.45    86838
4    -24.0300                    7    22.23    86838
..        ...                  ...      ...      ...
15  -116.7600                   18   207.31    87536
16  -160.9520                   22   143.12    87536
17   -41.8700                    5    59.98    87534
18   -24.7104                   15   135.78    87537
19   349.4850                    5   506.50    87530

[1952 rows x 25 columns]

In [71]:
df1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193
2,21776,Critical,0.06,9.48,7.29,11,Marcus Dunlap,Regular Air,Home Office,Furniture,...,East,New Jersey,Roselle,7203,2015-02-15,2015-02-17,-53.8096,22,211.15,90192
3,24844,Medium,0.09,78.69,19.99,14,Gwendolyn F Tyson,Regular Air,Small Business,Furniture,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-14,803.4705,16,1164.45,86838
4,24846,Medium,0.08,3.28,2.31,14,Gwendolyn F Tyson,Regular Air,Small Business,Office Supplies,...,Central,Minnesota,Prior Lake,55372,2015-05-12,2015-05-13,-24.0300,7,22.23,86838

In [72]:
df1.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
15,19842,High,0.01,10.90,7.46,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-116.7600,18,207.31,87536
16,19843,High,0.10,7.99,5.03,3397,Andrea Shaw,Regular Air,Small Business,Technology,...,Central,Illinois,Danville,61832,2015-03-11,2015-03-12,-160.9520,22,143.12,87536
17,26208,Not Specified,0.08,11.97,5.81,3399,Marvin Reid,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Des Plaines,60016,2015-03-29,2015-03-31,-41.8700,5,59.98,87534
18,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,2015-04-04,2015-04-04,-24.7104,15,135.78,87537
19,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2015-02-08,2015-02-11,349.4850,5,506.50,87530

In [73]:
df1.info

<bound method DataFrame.info of     Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0    20847           High      0.01        2.84           0.93            3
1    20228  Not Specified      0.02      500.98          26.00            5
2    21776       Critical      0.06        9.48           7.29           11
3    24844         Medium      0.09       78.69          19.99           14
4    24846         Medium      0.08        3.28           2.31           14
..     ...            ...       ...         ...            ...          ...
15   19842           High      0.01       10.90           7.46         3397
16   19843           High      0.10        7.99           5.03         3397
17   26208  Not Specified      0.08       11.97           5.81         3399
18   24911         Medium      0.10        9.38           4.93         3400
19   25914           High      0.10      105.98          13.99         3403

        Customer Name       Ship Mode Customer Segment Product Category  ...  \
0       Bonnie Potter     Express Air        Corporate  Office Supplies  ...
1      Ronnie Proctor  Delivery Truck      Home Office        Furniture  ...
2       Marcus Dunlap     Regular Air      Home Office        Furniture  ...
3   Gwendolyn F Tyson     Regular Air   Small Business        Furniture  ...
4   Gwendolyn F Tyson     Regular Air   Small Business  Office Supplies  ...
..                ...             ...              ...              ...  ...
15        Andrea Shaw     Regular Air   Small Business  Office Supplies  ...
16        Andrea Shaw     Regular Air   Small Business       Technology  ...
17        Marvin Reid     Regular Air   Small Business  Office Supplies  ...
18      Florence Gold     Express Air   Small Business        Furniture  ...
19      Tammy Buckley     Express Air         Consumer        Furniture  ...

     Region State or Province         City  Postal Code Order Date  Ship Date  \
0      West        Washington    Anacortes        98221 2015-01-07 2015-01-08
1      West        California  San Gabriel        91776 2015-06-13 2015-06-15
2      East        New Jersey      Roselle         7203 2015-02-15 2015-02-17
3   Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-14
4   Central         Minnesota   Prior Lake        55372 2015-05-12 2015-05-13
..      ...               ...          ...          ...        ...        ...
15  Central          Illinois     Danville        61832 2015-03-11 2015-03-12
16  Central          Illinois     Danville        61832 2015-03-11 2015-03-12
17  Central          Illinois  Des Plaines        60016 2015-03-29 2015-03-31
18     East     West Virginia     Fairmont        26554 2015-04-04 2015-04-04
19     West           Wyoming     Cheyenne        82001 2015-02-08 2015-02-11

       Profit Quantity ordered new    Sales Order ID
0      4.5600                    4    13.01    88522
1   4390.3665                   12  6362.85    90193
2    -53.8096                   22   211.15    90192
3    803.4705                   16  1164.45    86838
4    -24.0300                    7    22.23    86838
..        ...                  ...      ...      ...
15  -116.7600                   18   207.31    87536
16  -160.9520                   22   143.12    87536
17   -41.8700                    5    59.98    87534
18   -24.7104                   15   135.78    87537
19   349.4850                    5   506.50    87530

[1952 rows x 25 columns]>

In [74]:
df1.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1936.000000,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000
mean,19916.479508,0.048975,109.079221,12.968151,1735.376537,0.515186,51534.769467,114.793859,12.944672,985.828832,82365.924180
std,5957.595627,0.031378,393.481301,17.414631,991.078006,0.137055,29362.828420,1141.112387,13.871565,2559.900167,19042.295798
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1001.000000,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,0.020000,6.480000,3.230000,875.000000,0.380000,28560.000000,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,0.050000,20.990000,6.150000,1738.000000,0.525000,48765.500000,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,0.080000,100.972500,14.362500,2578.250000,0.590000,78550.000000,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,0.210000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,9228.225600,167.000000,45737.330000,91586.000000

In [75]:
result=pd.merge(df1,user,on='Region')

In [76]:
print(result)

      Row ID Order Priority  Discount  Unit Price  Shipping Cost  Customer ID  \
0      20847           High      0.01        2.84           0.93            3
1      20228  Not Specified      0.02      500.98          26.00            5
2      23890           High      0.05       26.48           6.93           18
3      24063  Not Specified      0.07       12.99           9.44           19
4      20631           High      0.06       55.48          14.30           24
...      ...            ...       ...         ...            ...          ...
1947   23181       Critical      0.03      315.98          19.99         3380
1948   23182       Critical      0.09      276.20          24.49         3380
1949   23183       Critical      0.03       63.94          14.48         3380
1950   24161  Not Specified      0.05       11.97           5.81         3381
1951   25841         Medium      0.02       28.53           1.49         3381

                     Customer Name       Ship Mode Customer Segment  \
0                    Bonnie Potter     Express Air        Corporate
1                   Ronnie Proctor  Delivery Truck      Home Office
2                     Laurie Hanna     Regular Air   Small Business
3                      Jim Rodgers     Regular Air   Small Business
4                      Edna Thomas     Regular Air        Corporate
...                            ...             ...              ...
1947                    Eva Decker     Regular Air      Home Office
1948                    Eva Decker     Regular Air      Home Office
1949                    Eva Decker     Regular Air      Home Office
1950  Christopher Norton Patterson     Regular Air        Corporate
1951  Christopher Norton Patterson     Regular Air      Home Office

     Product Category  ... State or Province           City Postal Code  \
0     Office Supplies  ...        Washington      Anacortes       98221
1           Furniture  ...        California    San Gabriel       91776
2           Furniture  ...           Montana         Helena       59601
3          Technology  ...           Montana       Missoula       59801
4     Office Supplies  ...        California  Laguna Niguel       92677
...               ...  ...               ...            ...         ...
1947  Office Supplies  ...           Georgia      La Grange       30240
1948        Furniture  ...           Georgia      La Grange       30240
1949        Furniture  ...           Georgia      La Grange       30240
1950  Office Supplies  ...           Georgia          Macon       31204
1951  Office Supplies  ...           Georgia          Macon       31204

      Order Date  Ship Date     Profit Quantity ordered new    Sales  \
0     2015-01-07 2015-01-08     4.5600                    4    13.01
1     2015-06-13 2015-06-15  4390.3665                   12  6362.85
2     2015-05-15 2015-05-16   314.4813                   17   455.77
3     2015-05-21 2015-05-23  -114.6399                   18   231.79
4     2015-01-28 2015-01-29   -28.2968                    1    67.49
...          ...        ...        ...                  ...      ...
1947  2015-04-20 2015-04-22    -4.4800                   18  5572.18
1948  2015-04-20 2015-04-21  3193.2840                   11  2941.42
1949  2015-04-20 2015-04-21    43.6917                    8   522.46
1950  2015-03-23 2015-03-25   349.0593                    2    25.31
1951  2015-04-29 2015-04-29     1.9920                   18   513.33

      Order ID  Manager
0        88522  William
1        90193  William
2        90031  William
3        90032  William
4        87651  William
...        ...      ...
1947     88838      Sam
1948     88838      Sam
1949     88838      Sam
1950     88836      Sam
1951     88840      Sam

[1952 rows x 26 columns]

In [77]:
result.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2015-01-07,2015-01-08,4.5600,4,13.01,88522,William
1,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,California,San Gabriel,91776,2015-06-13,2015-06-15,4390.3665,12,6362.85,90193,William
2,23890,High,0.05,26.48,6.93,18,Laurie Hanna,Regular Air,Small Business,Furniture,...,Montana,Helena,59601,2015-05-15,2015-05-16,314.4813,17,455.77,90031,William
3,24063,Not Specified,0.07,12.99,9.44,19,Jim Rodgers,Regular Air,Small Business,Technology,...,Montana,Missoula,59801,2015-05-21,2015-05-23,-114.6399,18,231.79,90032,William
4,20631,High,0.06,55.48,14.30,24,Edna Thomas,Regular Air,Corporate,Office Supplies,...,California,Laguna Niguel,92677,2015-01-28,2015-01-29,-28.2968,1,67.49,87651,William

In [78]:
result.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
1947,23181,Critical,0.03,315.98,19.99,3380,Eva Decker,Regular Air,Home Office,Office Supplies,...,Georgia,La Grange,30240,2015-04-20,2015-04-22,-4.4800,18,5572.18,88838,Sam
1948,23182,Critical,0.09,276.20,24.49,3380,Eva Decker,Regular Air,Home Office,Furniture,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,3193.2840,11,2941.42,88838,Sam
1949,23183,Critical,0.03,63.94,14.48,3380,Eva Decker,Regular Air,Home Office,Furniture,...,Georgia,La Grange,30240,2015-04-20,2015-04-21,43.6917,8,522.46,88838,Sam
1950,24161,Not Specified,0.05,11.97,5.81,3381,Christopher Norton Patterson,Regular Air,Corporate,Office Supplies,...,Georgia,Macon,31204,2015-03-23,2015-03-25,349.0593,2,25.31,88836,Sam
1951,25841,Medium,0.02,28.53,1.49,3381,Christopher Norton Patterson,Regular Air,Home Office,Office Supplies,...,Georgia,Macon,31204,2015-04-29,2015-04-29,1.9920,18,513.33,88840,Sam

In [79]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1952 entries, 0 to 1951
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row ID                1952 non-null   int64
 1   Order Priority        1952 non-null   object
 2   Discount              1952 non-null   float64
 3   Unit Price            1952 non-null   float64
 4   Shipping Cost         1952 non-null   float64
 5   Customer ID           1952 non-null   int64
 6   Customer Name         1952 non-null   object
 7   Ship Mode             1952 non-null   object
 8   Customer Segment      1952 non-null   object
 9   Product Category      1952 non-null   object
 10  Product Sub-Category  1952 non-null   object
 11  Product Container     1952 non-null   object
 12  Product Name          1952 non-null   object
 13  Product Base Margin   1936 non-null   float64
 14  Country               1952 non-null   object
 15  Region                1952 non-null   object
 16  State or Province     1952 non-null   object
 17  City                  1952 non-null   object
 18  Postal Code           1952 non-null   int64
 19  Order Date            1952 non-null   datetime64[ns]
 20  Ship Date             1952 non-null   datetime64[ns]
 21  Profit                1952 non-null   float64
 22  Quantity ordered new  1952 non-null   int64
 23  Sales                 1952 non-null   float64
 24  Order ID              1952 non-null   int64
 25  Manager               1952 non-null   object
dtypes: datetime64[ns](2), float64(6), int64(5), object(13)
memory usage: 411.8+ KB

In [81]:
result.describe()

,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID
count,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000,1936.000000,1952.000000,1952.000000,1952.000000,1952.000000,1952.000000
mean,19916.479508,0.048975,109.079221,12.968151,1735.376537,0.515186,51534.769467,114.793859,12.944672,985.828832,82365.924180
std,5957.595627,0.031378,393.481301,17.414631,991.078006,0.137055,29362.828420,1141.112387,13.871565,2559.900167,19042.295798
min,64.000000,0.000000,1.140000,0.490000,3.000000,0.350000,1001.000000,-16476.838000,1.000000,2.250000,359.000000
25%,19121.000000,0.020000,6.480000,3.230000,875.000000,0.380000,28560.000000,-84.485400,5.000000,58.807500,86767.750000
50%,21164.500000,0.050000,20.990000,6.150000,1738.000000,0.525000,48765.500000,1.476450,10.000000,202.395000,88376.000000
75%,23483.250000,0.080000,100.972500,14.362500,2578.250000,0.590000,78550.000000,116.201575,16.000000,802.945000,89957.000000
max,26389.000000,0.210000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,9228.225600,167.000000,45737.330000,91586.000000

In [85]:
result.to_excel(r'C:\Users\91911\Downloads\ATI Practice\R for superstore\Output\Result.xlsx',sheet_name='Results',index= True)